:root{
  --ccc-color-main: #4f7bff;
  --ccc-color-main--light: #9cb4ff;
  --ccc-color-dark: black;
  --ccc-color-alternate: #ffffc2;
  --ccc-color-white: white;

  --ccc-box-shadow:
    .05rem .05rem 0px 0px var(--ccc-color-dark),
    .10rem .10rem 0px 0px var(--ccc-color-dark),
    .15rem .15rem 0px 0px var(--ccc-color-dark),
    .20rem .20rem 0px 0px var(--ccc-color-dark),
    .25rem .25rem 0px 0px var(--ccc-color-dark),
    .30rem .30rem 0px 0px var(--ccc-color-dark),
    .35rem .35rem 0px 0px var(--ccc-color-dark),
    .40rem .40rem 0px 0px var(--ccc-color-dark),
    .45rem .45rem 0px 0px var(--ccc-color-dark),
    .50rem .50rem 0px 0px var(--ccc-color-dark);

  --ccc-unit: 15px;
  --ccc-gutter: var(--ccc-unit);
  --ccc-gutter-half: calc( var(--ccc-unit) / 2);

  --ccc-ui-size-unit: calc( var(--ccc-unit) * 2);
}
