.ccc-ui-button--small {
  font-family: inherit;
  font-size: .8rem;
  line-height: 1rem;
  display: inline-block;
  cursor: pointer;
}

.ccc-ui-button {
  border: none;
  font-size: .8rem;
  line-height: 2rem;
  font-family: inherit;
  display: inline-block;
  color: var(--ccc-color-white);
  background: var(--ccc-color-dark);
  height: 2rem;
  padding-left: var(--ccc-ui-size-unit);
  padding-right: var(--ccc-gutter-half);
  border-top-left-radius: var(--ccc-ui-size-unit);
  border-bottom-left-radius: var(--ccc-ui-size-unit);
  cursor: pointer;

  &.ccc-ui-button--alternate {
    background-color: var(--ccc-color-white);
    color: var(--ccc-color-dark);
  }
}
button.ccc-ui-button {
  line-height: 1rem;
}


.ccc-ui-circle {
  background-color: var(--ccc-color-white);
  line-height: var(--ccc-ui-size-unit);
  border-radius: 100%;
  height: var(--ccc-ui-size-unit);
  width: var(--ccc-ui-size-unit);
  text-align: center;
}
